# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Test secrets
        env:
          ECS_PASS: ${{ secrets.ECS_PASS }}
          ECS_IP: ${{ secrets.ECS_IP }}
          ESC_USER: ${{ secrets.ESC_USER }}
        run: |
          echo env
          ls -al
          export DEBIAN_FRONTEND=noninteractive
          sudo apt update && sudo apt install sshpass -y
          REMOTE_BUILD_DIR=/home/$ESC_USER/build
          echo $REMOTE_BUILD_DIR
          sshpass -p $ECS_PASS ssh -o StrictHostKeyChecking=no $ESC_USER@$MASTER_IP "[ -d $REMOTE_BUILD_DIR ] && echo $ECS_PASS | sudo -S rm -rf $REMOTE_BUILD_DIR; mkdir -p $REMOTE_BUILD_DIR"
          sshpass -p $MASTER_PASS scp -r $(pwd) $MASTER_USERNAME@$MASTER_IP:/home/$MASTER_USERNAME/build

        
